:root {
  /* Master Color Theme - change color theme here */
    --white: #fff;
    --blueA: #56A6A6;
    --blueB: #356666;
    --blueC: #77E6E6;
    --blueD: #7EF2F2;
    --blueE: #6BCCCC;
    --highlight: #E66312; 
    --bkColor: #13293d;
    
    /* Master font - change font here */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;

    /* Master Spacing - change spacing here */
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
  }

  body {
    background-color: var(--bkColor);
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .mainPassBox {
    background-color: var(--blueC);
    border:3px solid var(--highlight);
    padding-top: 50px;
    padding: 10px;
    min-width: 50%;
    /* ^try auto? */
  }
  
  .mainPassBox h2 {
    color: var(--highlight);
    font-size: larger;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .passSlider {
    width: 100%;
  }

  .slider{
    width: 100%;
  }

  .slider:hover {
    opacity: 1;
     /*shows user that they are on the slider*/
  }
  
  .lengthBox {
    border: 3px solid var(--blueB);
    width: 100px;
  }

  #slideValue{
    color: #E66312;
    font-size: 20px;
    font-weight: 700;
    }

  .passParameters{
    border:2px solid;
    padding: 1%;
  }

  .form-check{
    padding: 2px;
    margin: auto;
    padding-left: 15px;

  }